@font-face {
    font-family: drop-cap;
    src: url(/styles/drop-cap/floral.ttf);
    font-display: swap;
}

* {
    cursor: url('/styles/manicules/manicule-default-right.png') 113 46,
    url('/styles/manicules/manicule-default-left.png') 0 46,
    url('/styles/manicules/manicule-alt-left-up.png') 0 0,
    url('/styles/manicules/manicule-alt-right-up.png') 81 0,
    url('/styles/manicules/manicule-alt-left-down.png') 0 126,
    url('/styles/manicules/manicule-alt-right-down.png') 81 126,
    auto;
}

html {
    height: 100vh;
}

body > footer {
    display: flex;
    justify-content: space-between;
}

.salutation {
    font-family: IM Fell English SC;
}

body {
    background-image : url(/styles/background.png);
    font-family: 'IM Fell English';
}

header {
    position: relative;
    margin-top: 4rem;
}

header > nav {
    margin-top: -4rem;
    font-size: 2rem;
}

.dropcap .actual,
.dropcap .period {
  font-size: 15rem;
}

.dropcap .actual {
  color: #903;
  font-family: drop-cap;
}

.dropcap .rest {
  font-size: 10rem;
}

.sr-only {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

.knight-horse {
    position: absolute;
    top: -2.5rem;
    left: 37.8rem;
    height: 15rem;
    width: unset;
}

.main-overlay {
position: fixed;
pointer-events: none;
content: "";
inset: 0;
z-index: 1;
}

#indices {
    display: flex;
    margin-left: -5rem;
    width: calc(55% + 10rem);
    gap: 2rem;
}

#indices section {
    flex: 50%;
}
#indices p {
    width: unset;
}

.entries {
    padding: 0 1rem;
}
.toc-3 {
    margin-left: 2rem;
}

.toc-4 {
    margin-left: 4rem;
}

hgroup > nav {
    width: 55%;
}

label.sidenote-number {
    display: inline !important;
}

span.marginnote ul {
    font-size: unset;
    line-height: unset;
}

#toc-content ul {
    list-style-type: none;
}

article#content > h2:first-of-type + p::first-line {
    font-family: 'IM Fell English SC';
    font-size: 1.8rem;
}

article#content > section:first-of-type > p:first-of-type:first-letter {
    color: #903;
    font-family: drop-cap;
    float: left;
    font-size: 11rem;
    line-height: 60px;
    padding: 4px 8px 0 3px;
}

label.marginnote-symbol {
    display: inline !important;
    font-size: 1rem;
    top: -.5rem;
    left: -0.3rem;
    position: relative;
}

label.sidenote-number {
    margin-right: -0.5rem;
}

label.sidenote-toggle > a {
    text-decoration: none;
}

label.sidenote-number > a {
    display: inline-block;
    width: 0.5rem;
    height: 1rem;
}

label.sidenote-number::after {
    pointer-events: none;
    left: -0.8rem;

}

label.sidenote-number::after, label.marginnote-symbol {
    margin-right: -0.3rem;
}

span.marginnote::before {
    content: attr(data-symbol);
    font-size: 1rem;
    top: -.5rem;
    margin-right: 0.2rem;
    position: relative;
}

@media (min-width: 1920px) {
    span.marginnote#toc-content {
        float: left;
        margin-right: unset;
        margin-left: -60%
    }
}
@media (max-width: 760px) {
hgroup > nav {
    width: 90%;
}
    hgroup > nav {
        position: unset;
    }
    span.marginnote#toc-content {
        float: unset !important;
        margin: 1rem 2.5% !important;
    }
.dropcap .actual,
.dropcap .period {
  font-size: 9rem;
}

.dropcap .rest {
  font-size: 6rem;
}

header > nav {
    margin-top: -3rem;
    font-size: 2rem;
}
    .knight-horse {
        position: absolute;
        top: -2.5rem;
        left: 22.6rem;
        height: 10rem;
        width: unset;
    }
}
@media (max-width: 450px) {
.dropcap .actual,
.dropcap .period {
  font-size: 6rem;
}

.dropcap .rest {
  font-size: 4rem;
}

header > nav {
    margin-top: -1rem;
    font-size: 1.5rem;
}
    .knight-horse {
        top: -1.1rem;
        left: 15.25rem;
        height: 6rem;
    }
}