<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/styles/tufte.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=IM+Fell+English&display=swap">
    <title></title>
</head>

<body>
    <main>
        <!-- Page content is inserted here.  -->
    </main>

</html>
