<header>
  <span class="header-text">
    <span class="dropcap" aria-hidden="true">
      <span class="actual">D</span><span class="rest">rollery</span>
      <span class="period">.</span>
    </span>
    <span class="sr-only">Drollery</span>
  </span>
  <picture>
    <source srcset="/images/knight-horse.avif" type="image/avif">
    <img decoding="async" loading="lazy" class="knight-horse" alt="Medieval drollery of a knight on a horse" src="/images/knight-horse.png">
  </picture>
  <nav>
    | <a href="/">Home</a> |
    <a href="/about">About</a> |
    <a href="/posts">Posts</a> |
  </nav>
</header>